* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 210px;
}

.background-pattern {
    height: 120px;
    background-image: url(../img/pattern.png);
    background-position: center;
    background-color: rgb(0, 110, 255);
    padding-top: 60px;
    padding-left: 5px;
}

.words-in-grey {
    color: grey
}

#color-blue {
    color: blue;
}

.images-tim {
    padding-top: 20px;
}